body {
    font-family: 'Roboto', sans-serif;
    width: 1158px;
    color: #434455;
    background-color: #fff;
    margin: 0;
  }
  
  h1, h2, h3,
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }

  img {
    display: block;
  }
  
  a {
    text-decoration: none;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .conteiner {
    justify-content: center;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .section {
    margin: 0;
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 120px 0;
  }
  
  .page-header {
    border-bottom: 1px solid #e7e9fc;
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
  }

  .nav-item {
    display: flex;
    margin-left: auto;
    gap: 40px;
  }

  .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-right: 76px;
  }
  
  .header-logo .logo-part {
    color: #2e2f42;
  }
  
  .footer-logo .logo-part {
    color: #f4f4fd;
  }

  .nav-item {
    display: flex;
    gap: 40px;
  }
  
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
  }
  
  .contacts {
    font-style: normal;
  }
  
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }

.hero-images {
    background-color: #2e2f42;
    padding: 188px 0;

}  

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
}

.button {
    font-family: "Roboto", sans-serif;
    height: 56px;
    min-width: 169px;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
}

.button:hover, 
.button:focus {
    background-color: #404bbf;
}

.tools {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.tools-h {
    font-weight: 700;
    color: #2e2f42;
    max-width: 496px;
    margin-bottom: 8px;
}

.tools-list {
  display: flex;
  gap: 24px;
}

.tools-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: calc((100% - 72px) / 4);
}

.tools-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.tools-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border-radius: 0 0 4px 4px;
   padding: 0px 0px 32px 0px;
   width: 264px;
   height: 380px;
   gap: 24px;
}

.team-title {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center; 
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px; 
}

.team-images {
  display: block;
  width: calc((100% - 72px) / 4);
}

.card-container {
  padding: 32px 0;
}

.team-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.portfolio {
  border-bottom: 1px;
  padding: 120px 0 120px 0;
}

.portfolio-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
}

.portfolio-img {
  width: calc((100% - 48px) / 3);
}


.portfolio-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc; 
  border-top: none;
}

.portfolio-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-span-footer {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}