body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
  }
  
  h1, h2, h3,
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }

  li {
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
  }

  img {
    display: block;
  }
  
  a {
    text-decoration: none;
    display: block;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: baseline;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .page-header {
    border-bottom: 1px solid #e7e9fc;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-right: 76px;
  }
  
  .header-logo .logo-part {
    color: #2e2f42;
  }
  
  .footer-logo .logo-part {
    color: #f4f4fd;
  }

  .nav-list {
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
  }

  .nav-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.studio {
    position: relative;
    color: #404bbf; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.studio::after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 2px;
    bottom: -1px; 
    width: 48px;
    height: 4px;
    left: 0; 
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    background: #404bbf;
  }

  .nav-list {
    display: flex;
    margin-left: auto;
    gap: 40px;
  }

  .nav-list:hover,
  .nav-list:focus {
    color: #404bbf;

  }
  
  

  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active {

  }
  
  .contacts-list {
    font-style: normal;
    display: flex; 
    gap: 40px;
  }
  
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }

  .section {
    margin: 0;
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 120px 0;
  }

.hero-images {
  background-color: #2e2f42;
  background-image: url(./image-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient( 
rgba(46, 47, 66, 0.7),
 rgba(46, 47, 66, 0.7)
), url(./image-bg.jpg);
  padding: 188px 0;
  max-width: 1440рх;
}  

.hero-container {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(./image-bg.jpg);
  max-width: 1440px;
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.button {
    font-family: "Roboto", sans-serif;
    height: 56px;
    min-width: 169px;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    margin: 0 auto;
    display: block;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); ;
}

.button:hover, 
.button:focus {
    background-color: #404bbf;
    cursor: pointer;
}

.tools {
  padding: 120px 0;
}

.tools-list {
  display: flex;
  gap: 24px;
}

.tools-item {
    width: calc((100% - 72px) / 4);
}

.section-tools-icon {
 display: flex;
 align-items: center;
 justify-content: center;
 border: 1px solid #8E8F99;
 border-radius: 4px;
 padding: 24px 0;
 max-width: 264px;
 max-height: 112px;
 background-color: #F4F4FD;
 margin-bottom: 8px;
}

.icon {
  width: 64px;
  height: 64px;
}

.tools-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.tools-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

.our-team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team {
   display: flex;
   align-items: center;
   border-radius: 0 0 4px 4px;
   gap: 24px;
}

.team-title {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center; 
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-item {
  background-color: #FFFFFF;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-images {
  display: block;
}

.card-container {
  padding: 32px 0;
}

.team-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin: 0;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-link-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-team:hover,
.social-link-team:focus{
  background-color: #404bbf;
  cursor: pointer;
}

.icon-team {
  width: 24px;
  height: 24px;
}

.portfolio {
  border-bottom: 1px;
  padding: 120px 0 120px 0;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .cower-text {
  transform: translate(0);
}

.card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cower-wrap {
  position: relative;
  overflow: hidden;
}

.cower-text {
    position: absolute;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    top: 0;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc; 
  border-top: none;
}

.portfolio-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.container-footer-logo {
  margin-right: 120px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-span-footer {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin-bottom: 16px;
}

.footer-social-link {
  display: block;
  unicode-bidi: isolate;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px; 
}

.social-link-footer {
  display: flex;
 align-items: flex-start;
 justify-content: flex-start;
 flex-direction: row;
 gap: 16px;
}

.social-link-list-footer {
  display: flex;
}

.footer-link {
  display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31D0AA;
  cursor: pointer;
}

.icon-item-footer {
  fill: #f4f4fd;
}

