body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    width: 1440px;
    height: 72px;
}

.nav {

}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.span-logo {
    color: #2e2f42;
}

.menu {
    width: 261px;
    height: 24px;
}

.menu-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-item-logo {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.menu-item-logo:hover,
.menu-item-logo:focus,
.menu-item-logo:active {
    color: #404bbf;
}

.menu-link {

}

.address {
    font-style: normal;
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts:hover,
.contacts:focus{
    color: #404bbf;
}

.hero-images {
    width: 1440px;
    height: 600px;
    background-color: #2e2f42;
}  

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button {
    font-family: "Roboto", sans-serif;
    width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.button:hover, 
.button:focus {
    background-color: #404bbf;
}

.tools {
    width: 1128px;
    height: 104px;
}

.tools-h {
    font-weight: 700;
    color: #2e2f42;
}

.tools-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.tools-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team {
    width: 1440px;
    height: 732px;
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center; 
    color: #2e2f42;
}

.team {
}

.team-item {
    width: 264px;
    height: 380px;
    background-color: #FFFFFF;
}

.team-images {
}

.team-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.portfolio {
}

.portfolio-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;

}

.portfolio-link {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    width: 1440px;
    height: 324px;
    background-color: #2e2f42;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-span-footer {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}